{% extends "pharmacy_site/base.html" %}
{% block content %}
<div class="container my-5">
  <div class="m-3 d-flex flex-column  align-items-center p-5">
    <h3 class="p-3">prescription you provided</h3>
    <img src="{{ image_url }}" alt="Prescription Image">
  </div>
  
  
  <form method="post" action="{% url 'prescription-to-cart' %}">
      {% csrf_token %}
  <table class="table table-bordered">
      <thead >
        <tr>
          <th scope="col">Medicines able to identify</th>
          <th scope="col">Add to Cart</th>
        </tr>
      </thead>
      <tbody>
  {% for med in medNames %}
          <tr>
              <td>{{ med }}</td>
              <td> <input type="checkbox" name="{{ med }}" value="{{ med }}"></td>
          </tr>
  {% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <button class="m-3 btn btn-info" type="submit">add to cart</button>
    </div>
  </form>
</div>
{% endblock content %}

