<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech2etc Ecommerce Tutorial</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
     

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
<section id="header">
    <a href="#"><img src="img/logo.png"class="logo" alt=""></a>

<div>
    <ui id="navbar">
        <li><a  href="index.html">Home</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a class="active" href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">contact</a></li>
        <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>

    </ui> 
  </div>
</section>

<section id="page-header" class="blog-header">

    <h2>#readmore</h2>
  
    <p>Read all case studies about our products</p>

</section>
  
<section id="blog">
    <div class="blog-box">
        <div class="blog-img">
        <img src="img/blog/b1.jpg" alt="">
         </div>
<div class="blog-details">
    <h4> The cotton-Jersey Zip-up Hoodie</h4>
<p>kickstarter man braid godard colouring book. Reclette waistcoat selfish yr
wolf chartreuse hexagon irony,godard...</p>
<a href="#">CONTINUE READING</a>

</div>
<h1>13/01</h1>
</div>
<div class="blog-box">
    <div class="blog-img">
    <img src="img/blog/b2.jpg" alt="">
     </div>
<div class="blog-details">
<h4>How to style a Quiff</h4>
<p>The quiff is a classic hairstyle characterized by volume, height, and texture in the front section of the hair. To style a quiff, start with clean, towel-dried hair and apply a volumizing product to the roots. Then, blow-dry the hair while lifting the roots to create volume. Next, section off the front part of the hair and gently tease it at the roots for added height. Shape the hair into a quiff by pushing it forward and upward, experimenting with different heights and angles. Secure the quiff with a strong-hold hairspray or styling product. For finishing touches, use your fingers to add texture and definition, if desired. Remember to adapt the steps based on your hair type and preferences.</p>
<a href="#">CONTINUE READING</a>

</div>
<h1>13/04</h1>
</div>
<div class="blog-box">
    <div class="blog-img">
    <img src="img/blog/b3.jpg" alt="">
     </div>
<div class="blog-details">
<h4> Must have skater girl item</h4>
<p>kickstarter man braid godard colouring book. Reclette waistcoat selfish yr
wolf chartreuse hexagon irony,godard...</p>
<a href="#">CONTINUE READING</a>

</div>
<h1>16/01</h1>
</div>
<div class="blog-box">
    <div class="blog-img">
    <img src="img/blog/b4.jpg" alt="">
     </div>
<div class="blog-details">
<h4> Runaway inspired trends</h4>
<p>kickstarter man braid godard colouring book. Reclette waistcoat selfish yr
wolf chartreuse hexagon irony,godard...</p>
<a href="#">CONTINUE READING</a>

</div>
<h1>13/01</h1>
</div>

<div class="blog-box">
    <div class="blog-img">
    <img src="img/blog/b6.jpg" alt="">
     </div>
<div class="blog-details">
<h4> AW20 Menswear Trends</h4>
<p>kickstarter man braid godard colouring book. Reclette waistcoat selfish yr
wolf chartreuse hexagon irony,godard...</p>
<a href="#">CONTINUE READING</a>

</div>
<h1>10/03</h1>
</div>


</section>



    <section id="pagination" class="section-p1">
       <a href="#">1</a> 
       <a href="#">2</a> 
       <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a> 
    </section>

    <section id="newsletter" class="section-p1 section-m1">
     <div class="newstext">
        <h4> Sign up for Newsletter</h4>
        <p> Get E-mail updates about our latest shop and<span> special offers</span></p>

     </div>
     <div class="form">
     <input type="text" placeholder="Your email address">
     <button class="normal"> sign up</button>
     </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/logo.png" alt="">
            <h4>contact</h4>
            <p><strong>Address:</strong>562 wellington Road,street 32,san francisco</p>
            <p><strong>phone:</strong>+01 2222 365/(+91) 01 2345 6789</p>
            <p><strong>Hours:</strong>10:00-18:00,Mon-Sat</p>
            <div class="follow">
               <h4> follow us</h4>
               <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>  
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
               </div>
            </div>

        </div>
  <div class="col">
     <h4>About</h4>
     <a href="#">About us</a>
     <a href="#">Delevery information</a>
     <a href="#">privacy policy</a>
     <a href="#">Terms & condition</a>
     <a href="#">contact us </a>
  </div>
  <div class="col">
    <h4>My Account</h4>
    <a href="#">sign In</a>
    <a href="#">View cart</a>
    <a href="#">My wishlist</a>
    <a href="#">Track My order</a>
    <a href="#">Help</a>
 </div>
 <div class="col install">
    <h4>Install app</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
      <img src="img/pay/app.jpg" alt="">
      <img src="img/pay/play.jpg" alt="">    
    </div>
    <p>Secured Payment Gateway</p>
    <img src="img/pay/pay.png" alt="">    
 </div>
 <div class="copyright">
<p>@ 2023 ,Sliit Academy etc-HTML CSS clothing shop</p>
 </div>
    </footer>

</section>
        <script src="script.js"></script>
    </body>
</html>